<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <br>
    <h2><b>Adicionar Novo Produto</b></h2>
    <div class="row">
      <div class="col-md-7">
        <input type="text" class="form-control" id="nome" [(ngModel)]="produto.nome" name="nome" placeholder="Nome do produto">
      </div> 
      <div class="col-md-3">
        <input type="number" class="form-control" id="valor" [(ngModel)]="produto.valor" name="valor" placeholder="Valor">
      </div>
      <div class="col-md-2">
        <button id="botao-adicionar" type="submit" >Adicionar</button>
      </div>
    </div>
  </div>
</form>